@import url("https://fonts.cdnfonts.com/css/godzilla");

* {
  font-size: 15px;
  font-family: 'Godzilla', sans-serif;
}

.Godzilla {
  margin: 40px auto;
  width: 20%;
  outline: 3px solid;
  height: 30%;
  resize: both;
  overflow: hidden;
  background-color: rgba(0, 255, 255, 0.2);
  border: 2px solid rgb(0, 255, 255);
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgb(0, 255, 255);
  transition: all 1s;
  opacity: 10;

  display: table;
  flex-wrap: wrap;
  align-content: flex-start;
  animation: glowing 10s linear infinite;
}

.Godzilla:hover {
  background-color: rgba(3, 102, 102, 0.2);
  border: 2px solid rgb(1, 99, 99);
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgb(1, 116, 91);
  width: 22%;
  height: 32%;
  transition: all 1s;
}

.Godzilla img {
  border: 5px solid rgb(3, 86, 97);
  width: 250px;
  height: 150px;
  border-radius: 3px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

#flex-item-1 {
  flex-basis: 100px;
  flex-grow: 1;
  display: table;
}

.Monsterverse {
  background-color: rgba(0, 255, 255, 0.2);
  border: 2px solid rgb(0, 255, 255);
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 30px rgb(0, 255, 255);
  margin: 10px;
  width: 40%;
  height: 60%;
  font-size: 17px;
  padding: 10px;
  border-radius: 10px;
}

.facebook:link {
  color: blue;
  opacity: 10;
  display: inline;
  padding: 10px;
  border-radius: 10px;
  background: white;
  border: 5px solid black;
}

.facebook:visited {
  color: blue;
  opacity: 10;
  display: inline;
  background: white;
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;
}

.Facebook-1 {
  display: inline;
  color: blue;
  font-size: 15px;
  background: white;
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;
}

.github:link {
  color: rgb(124, 120, 120);
  opacity: 10;
  display: inline;
  background: black;
  padding: 10px;
  border: 5px solid rgb(248, 244, 244);
  border-radius: 10px;
}

.github:visited {
  color: rgb(112, 111, 111);
  opacity: 10;
  display: inline;
  background: black;
  padding: 10px;
  border: 5px solid rgb(253, 250, 250);
  border-radius: 10px;
}

.Github-1 {
  display: inline;
  color: white;
  font-size: 15px;
  background: black;
  padding: 10px;
  border: 5px solid white;
  border-radius: 10px;
}

.youtube:link {
  color: red;
  opacity: 10;
  display: inline;
  background: black;
  padding: 10px;
  border: 5px solid red;
  border-radius: 10px;
}

.youtube:visited {
  color: red;
  opacity: 10;
  display: inline;
  background: black;
  padding: 10px;
  border: 5px solid red;
  border-radius: 10px;
}

.Youtube-1 {
  display: inline;
  color: white;
  font-size: 15px;
  background: black;
  padding: 10px;
  border: 5px solid red;
  border-radius: 10px;
  color: red;
}

.instagram:link {
  color: rgb(243, 33, 103);
  opacity: 10;
  display: inline;
  background: white;
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;
}

.instagram:visited {
  color: rgb(243, 33, 103);
  opacity: 10;
  display: inline;
  background: white;
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;
}

.Instagram-1 {
  display: inline;
  color: white;
  font-size: 15px;
  background: white;
  padding: 10px;
  border: 5px solid black;
  border-radius: 10px;
  color: darkviolet;
}

.discord:link {
  color: darkviolet;
  opacity: 10;
  display: inline;
  background: black;
  padding: 10px;
  border: 5px solid white;
  border-radius: 10px;
}

.discord:visited {
  color: darkviolet;
  opacity: 10;
  display: inline;
  background: black;
  padding: 10px;
  border: 5px solid white;
  border-radius: 10px;
}

.Discord-1 {
  display: inline;
  color: white;
  font-size: 15px;
  background: black;
  padding: 10px;
  border: 5px solid white;
  border-radius: 10px;
}

body {
  background-color: #020202;
  opacity: 10;
  background-image:  linear-gradient(#3b4df0 1px, transparent 1px), linear-gradient(to right, #4a80f5 1px, #070707 1px);
  background-size: 20px 20px;
}

@media (min-width: 475px) {
  .Godzilla {
    display: inline-block;
  }
  .facebook {
    display: inline-ttable;
  }
  .Facebook-1 {
    display: inline-table;
  }
  .github {
    display: inline-table;
  }
  .Github-1 {
    display: inline-table;
  }
  .youtube {
    display: inline-table;
  }
  .Youtube-1 {
    display: inline-table;
  }
  .instagram {
    display: inline-table;
  }
  .Instagram-1 {
    display: inline-table;
  }
  .discord {
    display: inline-table;
  }
  .Discord-1 {
    display: inline-table;
  }
  .Monsterverse {
    display: inline-table;
  }
}

@media (min-width: 640px) {
  .Godzilla {
    display: inline-block;
  }
  .facebook {
    display: inline-table;
  }
  .Facebook-1 {
    display: inline-table;
  }
  .github {
    display: inline-table;
  }
  .Github-1 {
    display: inline-table;
  }
  .youtube {
    display: inline-table;
  }
  .Youtube-1 {
    display: inline-table;
  }
  .instagram {
    display: inline-table;
  }
  .Instagram-1 {
    display: inline-table;
  }
  .discord {
    display: inline-table;
  }
  .Discord-1 {
    display: inline-table;
  }
  .Monsterverse {
    display: inline-table;
  }
}

@media (min-width: 760px) {
  .Godzilla {
    display: inline-block;
  }
  .facebook {
    display: inline-table;
  }
  .Facebook-1 {
    display: inline-table;
  }
  .github {
    display: inline-table;
  }
  .Github-1 {
    display: inline-table;
  }
  .youtube {
    display: inline-table;
  }
  .Youtube-1 {
    display: inline-table;
  }
  .instagram {
    display: inline-table;
  }
  .Instagram-1 {
    display: inline-table;
  }t
  .discord {
    display: inline-table;
  }
  .Discord-1 {
    display: inline-table;
  }
  .Monsterverse {
    display: inline-table;
  }
}

@media (min-width: 1024px) {
  .Godzilla {
    display: inline-block;
  }
  .facebook {
    display: inline-table;
  }
  .Facebook-1 {
    display: inline-table;
  }
  .github {
    display: inline-table;
  }
  .Github-1 {
    display: inline-table;
  }
  .youtube {
    display: inline-table;
  }
  .Youtube-1 {
    display: inline-table;
  }
  .instagram {
    display: inline-table;
  }
  .Instagram-1 {
    display: inline-table;
  }
  .discord {
    display: inline-table;
  }
  .Discord-1 {
    display: inline-table;
  }
  .Monsterverse {
    display: inline-table;
  }
}

@media (min-width: 1200px) {
  .Godzilla {
    display: inline-block;
  }
  .facebook {
    display: inline-table;
  }
  .Facebook-1 {
    display: inline-table;
  }
  .github {
    display: inline-table;
  }
  .Github-1 {
    display: inline-table;
  }
  .youtube {
    display: inline-table;
  }
  .Youtube-1 {
    display: inline-table;
  }
  .instagram {
    display: inline-table;
  }
  .Instagram-1 {
    display: inline-table;
  }
  .discord {
    display: inline-table;
  }
  .Discord-1 {
    display: inline-table;
  }
  .Monsterverse {
    display: inline-table;
  }
}

@media (min-width: 1536px) {
  .Godzilla {
    display: inline-block;
  }
  .facebook {
    display: inline-table;
  }
  .Facebook-1 {
    display: inline-table;
  }
  .github {
    display: inline-table;
  }
  .Github-1 {
    display: inline-table;
  }
  .youtube {
    display: inline-table;
  }
  .Youtube-1 {
    display: inline-table;
  }
  .instagram {
    display: inline-table;
  }
  .Instagram-1 {
    display: inline-table;
  }
  .discord {
    display: inline-table;
  }
  .Discord-1 {
     display: inline-table;;
  }
  .Monsterverse {
    display: inline-table;
  }
}