@import url("https://fonts.cdnfonts.com/css/godzilla");

* {
  font-size: 15px;
  font-family: 'Godzilla', sans-serif;
}

.Godzilla {
  margin: 40px auto;
  width: 20%;
  outline: 3px solid;
  height: 30%;
  resize: both;
  overflow: hidden;
  background: rgb(57, 57, 122);
  border: 5px solid rgb(2, 2, 2);
  border-radius: 10px;
  transition: all 1s;

  display: table;
  flex-wrap: wrap;
  align-content: flex-start;
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan;
  animation: glowing 10s linear infinite;
}

.Godzilla:hover {
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan;
  background: white;
  width: 22%;
  height: 32%;
  transition: all 1s;
}

.Godzilla img {
  border: 5px solid black;
  width: 250px;
  height: 150px;
  border-radius: 3px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

#flex-item-1 {
  flex-basis: 100px;
  flex-grow: 1;
  display: table;
}

.Monsterverse {
  background-color: rgb(138, 4, 138);
  border: 4px solid black;
  box-shadow: 0 0 5px cyan, 0 0 50px darkblue, 0 0 100px darkblue,
    0 0 200px rgb(32, 32, 112), 0 0 8000px darkblue;
  transform: matrix3d(50px);
  margin: 10px;
  width: 80%;
  height: 100%;
}

.facebook:link {
  color: blue;
  opacity: 10;
  display: inline;
}

.facebook:visited {
  color: blue;
  opacity: 10;
  display: inline;
}

.Facebook-1 {
  display: inline;
  color: white;
  font-size: 15px;
}

.github:link {
  color: rgb(124, 120, 120);
  opacity: 10;
  display: inline;
}

.github:visited {
  color: rgb(112, 111, 111);
  opacity: 10;
  display: inline;
}

.Github-1 {
  display: inline;
  color: white;
  font-size: 15px;
}

.youtube:link {
  color: red;
  opacity: 10;
  display: inline;
}

.youtube:visited {
  color: red;
  opacity: 10;
  display: inline;
}

.Youtube-1 {
  display: inline;
  color: white;
  font-size: 15px;
}

.instagram:link {
  color: rgb(243, 33, 103);
  opacity: 10;
  display: inline;
}

.instagram:visited {
  color: rgb(red, green, blue);
  opacity: 10;
  display: inline;
}

.Instagram-1 {
  display: inline;
  color: white;
  font-size: 15px;
}

body {
  background-color: black;
  background-image: linear-gradient(#444cf7 1px, transparent 1px),
    linear-gradient(to right, #444cf7 1px, black 1px);
  background-size: 20px 20px;
}

@media (min-width: 475px) {
  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }
}

@media (min-width: 640px) {
  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }
}

@media (min-width: 760px) {
  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }
}

@media (min-width: 1536px) {
  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }

  .Godzilla {
    display: inline-block;
  }
}
